.nav-box{
    width: 100vw;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: grey;
    .nav-box-logo{
        width: 3rem;
        transition: width .6s;
        &:hover{
            width: 4rem;
        }
    }
    .nav-box-search{
        display: flex;
        gap: 1rem;
        input[type=text]{
            width: 19rem;
        }
    }
        .nav-box-session-buttons{
            width: 16rem;
            padding: 0 !important;
            margin: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 1rem;
            a{
                color: white;
                
                &:hover{
                    font-size: large;
                }
            }
        }
    
}