.nav-box-fixed{
    position: fixed;
    width: 100%;
    z-index: 1000000;
}
.nav-box{
    transition: 0.7s;
    display: flex;
    width:100vw;
    height: 3rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    .nav-box-session{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .nav-box-logo{
        width: 3rem;
        transition: width .6s;
        &:hover{
            width: 4rem;
        }
    }
    .nav-box-search{
        display: flex;
        gap: 1rem;
        input[type=text]{
            width: 19rem;
            box-shadow: 3px 3px 3px rgb(16, 96, 224);
            outline: none;
            border: none;
            border-radius: 5px;
        }
        .nav-box-search-button{
            border: none;
            box-shadow: 3px 3px 3px rgb(16, 96, 224);
            border-radius: 5px;
            outline: none;
        }
    }
    .nav-box-session-buttons{
        width: 50%;
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 5rem;
        a{
            color: white;
            width: 100px;
            font-family: 'Roboto', sans-serif;
            &:hover{
                font-size: large;
            }
        }
    }
    @media(max-width: 820px)
    {
        transition: 0s;
       display: block;
       height: 7rem;
       .nav-box-session{
        width: 100%;
        justify-content: center;
        gap: 5rem;
       }
       .nav-box-session-buttons{
        width: 100%;
        margin-top: 1rem !important;
       }
    }
    @media (max-width:520px) {
        transition: 0s;
        display: flex;
        height: 3rem;
        .nav-box-session-buttons{
            margin-top: 0 !important;
           }
        .nav-box-search{
            display: none;
        }
    }
}

.nav-box-active{
    transition: 0.7s;
    margin: 10px;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $primary;
    border-radius: 5px;
    box-shadow: 3px 3px 5px $p-dark;
    .nav-box-session{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .nav-box-logo{
        width: 3rem;
        transition: width .6s;
        &:hover{
            width: 4rem;
        }
    }
    .nav-box-search{
        display: flex;
        gap: 1rem;
        input[type=text]{
            width: 19rem;
            box-shadow: 3px 3px 3px $p-dark;
            outline: none;
            border: none;
            border-radius: 5px;
        }
        .nav-box-search-button{
            border: none;
            box-shadow: 3px 3px 3px $p-dark;
            border-radius: 5px;
            outline: none;
        }
    }
        .nav-box-session-buttons{
            width: 50%;
            padding: 0 !important;
            margin: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 5rem;
            a{
                color: black;
                width: 100px;
                font-family: 'Roboto', sans-serif;
                &:hover{
                    font-size: large;
                    color: $p-dark;
                }
            }
        }
        @media(max-width: 820px)
        {
            transition: 0s;
           display: block;
           height: 7rem;
           .nav-box-session{
            width: 100%;
            justify-content: center;
            gap: 5rem;
           }
           .nav-box-session-buttons{
            width: 100%;
            margin-top: 1rem !important;
           }
        }
        @media (max-width:520px) {
            transition: 0s;
            display: flex;
            height: 3rem;
            .nav-box-session-buttons{
                margin-top: 0 !important;
               }
            .nav-box-search{
                display: none;
            }
        }
    
}
.fa-search{
    transition: font-size .2s;
    &:hover{
        font-size: large;
    }
}
#nav-box-session-link-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}