.nav-box-fixed {
  position: fixed;
  width: 100%;
  z-index: 1000000;
}

.nav-box {
  transition: 0.7s;
  display: flex;
  width: 100vw;
  height: 3rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: transparent;
}
.nav-box .nav-box-session {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-box .nav-box-logo {
  width: 3rem;
  transition: width 0.6s;
}
.nav-box .nav-box-logo:hover {
  width: 4rem;
}
.nav-box .nav-box-search {
  display: flex;
  gap: 1rem;
}
.nav-box .nav-box-search input[type=text] {
  width: 19rem;
  box-shadow: 3px 3px 3px rgb(16, 96, 224);
  outline: none;
  border: none;
  border-radius: 5px;
}
.nav-box .nav-box-search .nav-box-search-button {
  border: none;
  box-shadow: 3px 3px 3px rgb(16, 96, 224);
  border-radius: 5px;
  outline: none;
}
.nav-box .nav-box-session-buttons {
  width: 50%;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5rem;
}
.nav-box .nav-box-session-buttons a {
  color: white;
  width: 100px;
  font-family: "Roboto", sans-serif;
}
.nav-box .nav-box-session-buttons a:hover {
  font-size: large;
}
@media (max-width: 820px) {
  .nav-box {
    transition: 0s;
    display: block;
    height: 7rem;
  }
  .nav-box .nav-box-session {
    width: 100%;
    justify-content: center;
    gap: 5rem;
  }
  .nav-box .nav-box-session-buttons {
    width: 100%;
    margin-top: 1rem !important;
  }
}
@media (max-width: 520px) {
  .nav-box {
    transition: 0s;
    display: flex;
    height: 3rem;
  }
  .nav-box .nav-box-session-buttons {
    margin-top: 0 !important;
  }
  .nav-box .nav-box-search {
    display: none;
  }
}

.nav-box-active {
  transition: 0.7s;
  margin: 10px;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #e3f2fd;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #b1bfca;
}
.nav-box-active .nav-box-session {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-box-active .nav-box-logo {
  width: 3rem;
  transition: width 0.6s;
}
.nav-box-active .nav-box-logo:hover {
  width: 4rem;
}
.nav-box-active .nav-box-search {
  display: flex;
  gap: 1rem;
}
.nav-box-active .nav-box-search input[type=text] {
  width: 19rem;
  box-shadow: 3px 3px 3px #b1bfca;
  outline: none;
  border: none;
  border-radius: 5px;
}
.nav-box-active .nav-box-search .nav-box-search-button {
  border: none;
  box-shadow: 3px 3px 3px #b1bfca;
  border-radius: 5px;
  outline: none;
}
.nav-box-active .nav-box-session-buttons {
  width: 50%;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5rem;
}
.nav-box-active .nav-box-session-buttons a {
  color: black;
  width: 100px;
  font-family: "Roboto", sans-serif;
}
.nav-box-active .nav-box-session-buttons a:hover {
  font-size: large;
  color: #b1bfca;
}
@media (max-width: 820px) {
  .nav-box-active {
    transition: 0s;
    display: block;
    height: 7rem;
  }
  .nav-box-active .nav-box-session {
    width: 100%;
    justify-content: center;
    gap: 5rem;
  }
  .nav-box-active .nav-box-session-buttons {
    width: 100%;
    margin-top: 1rem !important;
  }
}
@media (max-width: 520px) {
  .nav-box-active {
    transition: 0s;
    display: flex;
    height: 3rem;
  }
  .nav-box-active .nav-box-session-buttons {
    margin-top: 0 !important;
  }
  .nav-box-active .nav-box-search {
    display: none;
  }
}

.fa-search {
  transition: font-size 0.2s;
}
.fa-search:hover {
  font-size: large;
}

#nav-box-session-link-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-box {
  border: 1px solid #8fbdd3;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #27576a;
  box-shadow: 3px 3px 5px #e3f2fd;
}
.register-box .register-box-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.register-box .register-box-input input {
  border: 2px solid #8fbdd3;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ebebeb;
}
.register-box .register-box-input input:focus {
  outline: solid #e3f2fd;
}
.register-box .register-box-button {
  padding-bottom: 10px;
}
.register-box .register-box-button button {
  border: none;
  width: 100%;
  box-shadow: 2px 2px 5px rgb(143, 141, 141);
  border-radius: 5px;
  transition: background-color 0.5s;
  transition: color 0.2s;
  outline: none;
}
.register-box .register-box-button button:hover {
  z-index: 3;
  color: white;
  background-color: #8fbdd3;
  box-shadow: 2px 2px 5px #e3f2fd;
}

.register-box-center {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.alert-box-err {
  width: 100%;
  text-align: center;
  background-color: rgb(231, 112, 112);
  transition: opacity 0.5s;
  opacity: 0.5;
  color: black;
}

.alert-box-success {
  width: 100%;
  text-align: center;
  background-color: rgb(138, 245, 124);
  transition: opacity 0.5s;
  opacity: 0.5;
  color: black;
}

.login-box {
  border: 1px solid #8fbdd3;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #27576a;
  box-shadow: 3px 3px 5px #e3f2fd;
}
.login-box .login-box-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.login-box .login-box-input input {
  border: 2px solid #8fbdd3;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #ebebeb;
}
.login-box .login-box-input input:focus {
  outline: solid #e3f2fd;
}
.login-box .login-box-button {
  padding-bottom: 10px;
}
.login-box .login-box-button button {
  border: none;
  width: 100%;
  box-shadow: 2px 2px 5px rgb(143, 141, 141);
  border-radius: 5px;
  transition: background-color 0.5s;
  transition: color 0.2s;
  outline: none;
}
.login-box .login-box-button button:hover {
  z-index: 3;
  color: white;
  background-color: #8fbdd3;
  box-shadow: 2px 2px 5px #e3f2fd;
}

.login-box-center {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.card-section-center {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 13rem;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  width: 90%;
}

.card {
  width: 12rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card .card-fav-button {
  position: absolute;
  border: none;
  z-index: 2;
  right: 0;
  top: 0;
  background-color: transparent;
}
.card .card-fav-button:active {
  outline: none;
}
.card .card-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  align-items: center;
}
.card .card-img img {
  width: 100%;
}
.card .card-img img:hover {
  cursor: pointer;
}
.card .card-title {
  display: flex;
  text-align: center;
  margin-bottom: 0 !important;
  height: 15%;
  overflow: hidden;
}
.card .card-title .card-title-text {
  font-size: 1.18rem;
}
.card .card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 25%;
}

.footer-box {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footer-box-text {
  margin-top: 1rem;
}

.profile-box {
  width: 50%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.profile-box .profile-box-img {
  height: 70%;
}

.profile-box-center {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrousel-box-center {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 820px) {
  .carrousel-box-center {
    padding-top: 8rem;
  }
}

.carrousel-box {
  width: 80%;
  padding: 10px 0;
}
.carrousel-box .carrousel-card-center {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.banner-box {
  background-image: url("../../public/images/banner.jpg");
  height: 50em;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.banner-box .banner-box-info {
  padding: 16em 0 0 3em;
  width: 32%;
}
.banner-box .banner-box-info p {
  color: #fff;
}
.banner-box .banner-box-info h3 {
  color: #fff;
  font-weight: 600;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}
.banner-box .banner-box-info .banner-box-buttons {
  margin-top: 5rem;
}
@media (max-width: 1366px) {
  .banner-box .banner-box-info {
    padding: 16em 0 0 3em;
    width: 38%;
  }
}
@media (max-width: 1024px) {
  .banner-box .banner-box-info {
    padding: 14em 0 0 3em;
    width: 40%;
  }
}
@media (max-width: 800px) {
  .banner-box .banner-box-info {
    padding: 11em 0 0 1em;
    width: 44%;
  }
}
@media (max-width: 768px) {
  .banner-box .banner-box-info {
    padding: 11em 0 0 1em;
    width: 58%;
  }
}
@media (max-width: 640px) {
  .banner-box .banner-box-info {
    padding: 10em 0 0 1em;
    width: 58%;
  }
}
@media (max-width: 480px) {
  .banner-box .banner-box-info {
    padding: 9em 0 0 1em;
    width: 58%;
  }
}
@media (max-width: 440px) {
  .banner-box .banner-box-info {
    padding: 8em 0 0 1em;
    width: 68%;
  }
}
@media (max-width: 414px) {
  .banner-box .banner-box-info {
    padding: 8em 0 0 1em;
    width: 75%;
  }
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: auto;
  box-sizing: border-box;
}

p {
  margin-bottom: 0 !important;
}

body {
  background-color: #ebebeb;
}

.bottom-footer {
  position: relative;
  min-height: 100vh;
}
@media (max-height: 660px) {
  .bottom-footer {
    min-height: 110vh;
  }
}

/*# sourceMappingURL=style.css.map */
