@import './colors';
@import './brand';
@import './register';
@import './login';
@import './cards';
@import './footer';
@import './profile';
@import './carrousel';
@import './banner';

html{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
p{
    margin-bottom: 0 !important;
}
body{
    background-color: $background;
    //background-image: linear-gradient(to left, $s-dark1, $secondary );;
}
.bottom-footer{
    position: relative;
    min-height: 100vh;
}

// //transition-group config:
// .fade-enter{
//     opacity: 0;
//  }
//  .fade-exit{
//     opacity: 1;
//  }
//  .fade-enter-active{
//     opacity: 1;
//  }
//  .fade-exit-active{
//     opacity: 0;
//  }
//  .fade-enter-active,
//  .fade-exit-active{
//     transition: opacity 500ms;
//  }